## Tugas 2

### NIM GENAP

1.   **LIVE CODE**. Untuk materi lambda dari Tugas 2 Modul 3 sebelumnya.

Anda bekerja di sebuah supermarket dan diminta untuk mengolah data transaksi pelanggan berikut secara fungsional:

In [119]:
transaksi = [
    {"id": "T001", "pelanggan": "Faizal", "jumlah_item": 5, "harga_per_item": 20000, "status": "Lunas"},
    {"id": "T002", "pelanggan": "Zaky", "jumlah_item": 2, "harga_per_item": 15000, "status": "Belum Lunas"},
    {"id": "T003", "pelanggan": "Maylani", "jumlah_item": 10, "harga_per_item": 12000, "status": "Lunas"},
    {"id": "T004", "pelanggan": "Hakim", "jumlah_item": 1, "harga_per_item": 50000, "status": "Batal"},
    {"id": "T005", "pelanggan": "Adit", "jumlah_item": 4, "harga_per_item": 18000, "status": "Lunas"},
    {"id": "T006", "pelanggan": "Dimas", "jumlah_item": 8, "harga_per_item": 15000, "status": "Lunas"},
    {"id": "T007", "pelanggan": "Hisyam", "jumlah_item": 3, "harga_per_item": 25000, "status": "Belum Lunas"},
    {"id": "T008", "pelanggan": "Krisna", "jumlah_item": 6, "harga_per_item": 22000, "status": "Lunas"},
    {"id": "T009", "pelanggan": "Ahyad", "jumlah_item": 12, "harga_per_item": 11000, "status": "Lunas"},
    {"id": "T010", "pelanggan": "Wempy", "jumlah_item": 5, "harga_per_item": 30000, "status": "Batal"},
    {"id": "T011", "pelanggan": "Nara", "jumlah_item": 7, "harga_per_item": 17500, "status": "Belum Lunas"},
    {"id": "T012", "pelanggan": "Fia", "jumlah_item": 9, "harga_per_item": 20000, "status": "Lunas"},
    {"id": "T013", "pelanggan": "Radan", "jumlah_item": 3, "harga_per_item": 40000, "status": "Lunas"},
    {"id": "T014", "pelanggan": "Rahma", "jumlah_item": 10, "harga_per_item": 16000, "status": "Batal"},
    {"id": "T015", "pelanggan": "Yusuf", "jumlah_item": 4, "harga_per_item": 28000, "status": "Lunas"}
]

## Skenario 1: Filter Transaksi yang Lunas

In [120]:
def is_lunas(transaksi):
    return transaksi['status'] == 'Lunas'

def filter_lunas(data):
    return list(filter(is_lunas, data))

transaksi_lunas = filter_lunas(transaksi)

print("Transaksi yang lunas:")

for t in transaksi_lunas:
    print(t)
    
# print(transaksi_lunas)

Transaksi yang lunas:
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}

Dengan Lambda :

In [121]:
print("Transaksi Lunas:"); 
print(*filter(lambda t: t['status'] == 'Lunas', transaksi), sep="\n")

Transaksi Lunas:
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}

## Skenario 2: Tambahkan Total Belanja dengan Map

In [122]:
from typing import Any


def hitung_total(transaksi):
    return {**transaksi, 'total_belanja': transaksi['jumlah_item'] * transaksi['harga_per_item']}

def tambah_total_belanja(data): 
    return list[dict](map(hitung_total, data))

transaksi_lunas_dengan_total = tambah_total_belanja(transaksi_lunas)

for t in transaksi_lunas_dengan_total:
    print(t)

{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 100000}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas', 'total_belanja': 72000}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 180000}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas', 'total_belanja': 112000}

Dengan Lambda :

In [123]:
print(*map(lambda t: {**t, 'total_belanja': t['jumlah_item'] * t['harga_per_item']},
           filter(lambda t: t['status'] == 'Lunas', transaksi)), sep="\n")

{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 100000}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas', 'total_belanja': 72000}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 180000}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas', 'total_belanja': 112000}

## Skenario 3: Hitung Total Pendapatan dengan Reduce

In [124]:
from functools import reduce

def jumlahkan_total(accumulator, transaksi):
    return accumulator + transaksi['total_belanja']

def hitung_total_pendapatan(data):
    return reduce(jumlahkan_total, data, 0)

total_pendapatan = hitung_total_pendapatan(transaksi_lunas_dengan_total)

print(total_pendapatan)

1088000

Dengan Lambda :

In [125]:
from functools import reduce
print(reduce(lambda acc, t: acc + t['jumlah_item'] * t['harga_per_item'],
             filter(lambda t: t['status'] == 'Lunas', transaksi), 0))

1088000

## Skenario 4: Transaksi Tidak Dibatalkan dan Hitung Total Item (Rekursif)

In [126]:
def filter_tidak_dibatalkan(data):
    return [t for t in data if t['status'] != 'Batal']

def hitung_total_item_rekursif(data, index=0):
    if index >= len(data):
        return 0
    
    return data[index]['jumlah_item'] + hitung_total_item_rekursif(data, index + 1)

transaksi_tidak_dibatalkan = filter_tidak_dibatalkan(transaksi)

print("Transaksi yang tidak dibatalkan:")
for t in transaksi_tidak_dibatalkan:
    print(t)

print(f"\nTotal jumlah item dari transaksi tidak dibatalkan: {hitung_total_item_rekursif(transaksi_tidak_dibatalkan)}")

Transaksi yang tidak dibatalkan:
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T002', 'pelanggan': 'Zaky', 'jumlah_item': 2, 'harga_per_item': 15000, 'status': 'Belum Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T007', 'pelanggan': 'Hisyam', 'jumlah_item': 3, 'harga_per_item': 25000, 'status': 'Belum Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T011', 'pelanggan': 'Nara', 'jumlah_item': 7, 'harga_per_item': 17500, 'status': 'Belum Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}

Total jumlah item dari transaksi tidak dibatalkan: 73

Dengan Lambda :

In [127]:
print("Transaksi yang tidak dibatalkan:"); 
print(*filter(lambda t: t['status'] != 'Batal', transaksi), sep="\n")

Transaksi yang tidak dibatalkan:
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T002', 'pelanggan': 'Zaky', 'jumlah_item': 2, 'harga_per_item': 15000, 'status': 'Belum Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T007', 'pelanggan': 'Hisyam', 'jumlah_item': 3, 'harga_per_item': 25000, 'status': 'Belum Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T011', 'pelanggan': 'Nara', 'jumlah_item': 7, 'harga_per_item': 17500, 'status': 'Belum Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}

## Verifikasi: Data Asli Tidak Berubah

In [128]:
# Cek data transaksi asli (tidak boleh berubah)
print("Data transaksi asli (harus tetap sama):")
print(*transaksi, sep="\n")

Data transaksi asli (harus tetap sama):
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T002', 'pelanggan': 'Zaky', 'jumlah_item': 2, 'harga_per_item': 15000, 'status': 'Belum Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T004', 'pelanggan': 'Hakim', 'jumlah_item': 1, 'harga_per_item': 50000, 'status': 'Batal'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T007', 'pelanggan': 'Hisyam', 'jumlah_item': 3, 'harga_per_item': 25000, 'status': 'Belum Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T010', 'pelanggan': 'Wempy', 'jumlah_item': 5, 'harga_per_item': 30000, 'status': 'Batal'}
{'id': 'T011', 'pelanggan': 'Nara', 'jumlah_item': 7, 'harga_per_item': 17500, 'status': 'Belum Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T014', 'pelanggan': 'Rahma', 'jumlah_item': 10, 'harga_per_item': 16000, 'status': 'Batal'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}


-----
-----
untuk nomor 2 & 3 Anda diberikan tugas untuk menganalisis sentimen dari ulasan produk. Anda perlu membuat pipeline fungsional untuk membersihkan dan mengklasifikasikan data teks.

In [129]:
data_ulasan = [
    {'id': 'R1', 'teks': 'PrODuk iNi SANGAT Bagus! kuALItasnya MANTAP.', 'rating': 5},
    {'id': 'R2', 'teks': 'Jelek sEKali, JANGAN beli. SANGat MengECEWakan.', 'rating': 1},
    {'id': 'R3', 'teks': 'bIASa SAJA. Tidak aDa yaNG SpesIAL.', 'rating': 3},
    {'id': 'R4', 'teks': 'Wow LUAR biasa! AMAZING! 10/10', 'rating': 5},
    {'id': 'R5', 'teks': 'Bagus siH, TApi PACKINGNya jelek.', 'rating': 4},
    {'id': 'R6', 'teks': 'BaRAng sesUAI DESKriPSi dan CEPAT sAMpai.', 'rating': 5},
    {'id': 'R7', 'teks': 'Murah tApi MURAHAN, Tidak ReKOMenDASi.', 'rating': 2},
]

2.   Buat sebuah factory function bernama buat_pencari_keyword(keyword). Fungsi ini harus mengembalikan sebuah fungsi closure baru yang menerima satu argumen teks. Fungsi closure ini akan "mengingat" keyword yang diberikan dan mengembalikan True jika teks (setelah diubah ke lowercase) mengandung keyword tersebut, dan False jika tidak. Buat dua instance: cari_bagus = buat_pencari_keyword('bagus') dan cari_jelek = buat_pencari_keyword('jelek').

Contoh Output:



```
sentimen positif =  ['produk ini sangat bagus! Kualitasnya mantap.', 'Bagus sih, tapi pengirimannya lama.']
sentimen negatif =  ['jelek sekali, jangan beli. sangat mengecewakan.']
```

In [130]:
def buat_pencari_keyword(keyword):
    def pencari(teks):
        return keyword.lower() in teks.lower()
    return pencari

cari_bagus = buat_pencari_keyword('bagus')
cari_jelek = buat_pencari_keyword('jelek')

sentimen_positif = [ulasan['teks'].lower() for ulasan in data_ulasan if cari_bagus(ulasan['teks'])]
sentimen_negatif = [ulasan['teks'].lower() for ulasan in data_ulasan if cari_jelek(ulasan['teks'])]

print("sentimen positif =", sentimen_positif)
print("sentimen negatif =", sentimen_negatif)

sentimen positif = ['produk ini sangat bagus! kualitasnya mantap.', 'bagus sih, tapi packingnya jelek.']
sentimen negatif = ['jelek sekali, jangan beli. sangat mengecewakan.', 'bagus sih, tapi packingnya jelek.']





3. Buat sebuah Decorator bernama @sanitasi_teks. Decorator ini harus secara otomatis membersihkan argumen string pertama yang diterima oleh fungsi yang dihiasnya (mengubahnya ke lowercase dan .strip()) sebelum meneruskannya ke fungsi asli. Terapkan decorator ini pada fungsi hitung_jumlah_kata(teks) di bawah ini.

In [131]:

def sanitasi_teks(func):
    def wrapper(teks, *args, **kwargs):
        teks_bersih = teks.lower().strip()
        return func(teks_bersih, *args, **kwargs)
    return wrapper

@sanitasi_teks
def hitung_jumlah_kata(teks):
    print(f"DEBUG: Menghitung kata dari: '{teks}'")
    return len(teks.split())

In [132]:
# Panggil fungsi untuk setiap ulasan
for ulasan in data_ulasan:
    jumlah = hitung_jumlah_kata(ulasan['teks'])
    print(f"jumlah kata= {jumlah}")

DEBUG: Menghitung kata dari: 'produk ini sangat bagus! kualitasnya mantap.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'jelek sekali, jangan beli. sangat mengecewakan.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'biasa saja. tidak ada yang spesial.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'wow luar biasa! amazing! 10/10'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'bagus sih, tapi packingnya jelek.'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'barang sesuai deskripsi dan cepat sampai.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'murah tapi murahan, tidak rekomendasi.'
jumlah kata= 5

In [133]:
for ulasan in data_ulasan:
    teks = ulasan['teks']
    jumlah_kata = hitung_jumlah_kata(teks)
    print(f"jumlah kata= {jumlah_kata}")

DEBUG: Menghitung kata dari: 'produk ini sangat bagus! kualitasnya mantap.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'jelek sekali, jangan beli. sangat mengecewakan.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'biasa saja. tidak ada yang spesial.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'wow luar biasa! amazing! 10/10'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'bagus sih, tapi packingnya jelek.'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'barang sesuai deskripsi dan cepat sampai.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'murah tapi murahan, tidak rekomendasi.'
jumlah kata= 5

Contoh output:



```
DEBUG: Menghitung kata dari: 'produk ini sangat bagus! kualitasnya mantap.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'jelek sekali, jangan beli. sangat mengecewakan.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'biasa saja. tidak ada yang spesial.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'wow luar biasa! amazing! 10/10'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'bagus sih, tapi pengirimannya lama.'
jumlah kata= 5
DEBUG: Menghitung kata dari: 'barang sesuai deskripsi dan cepat sampai.'
jumlah kata= 6
DEBUG: Menghitung kata dari: 'murah tapi murahan, tidak rekomendasi.'
jumlah kata= 5
```