# Tugas 2

### NIM Genap
Anda bekerja di sebuah supermarket dan diminta untuk mengolah data transaksi pelanggan berikut secara fungsional:

In [2]:
transaksi = [
    {"id": "T001", "pelanggan": "Faizal", "jumlah_item": 5, "harga_per_item": 20000, "status": "Lunas"},
    {"id": "T002", "pelanggan": "Zaky", "jumlah_item": 2, "harga_per_item": 15000, "status": "Belum Lunas"},
    {"id": "T003", "pelanggan": "Maylani", "jumlah_item": 10, "harga_per_item": 12000, "status": "Lunas"},
    {"id": "T004", "pelanggan": "Hakim", "jumlah_item": 1, "harga_per_item": 50000, "status": "Batal"},
    {"id": "T005", "pelanggan": "Adit", "jumlah_item": 4, "harga_per_item": 18000, "status": "Lunas"},
    {"id": "T006", "pelanggan": "Dimas", "jumlah_item": 8, "harga_per_item": 15000, "status": "Lunas"},
    {"id": "T007", "pelanggan": "Hisyam", "jumlah_item": 3, "harga_per_item": 25000, "status": "Belum Lunas"},
    {"id": "T008", "pelanggan": "Krisna", "jumlah_item": 6, "harga_per_item": 22000, "status": "Lunas"},
    {"id": "T009", "pelanggan": "Ahyad", "jumlah_item": 12, "harga_per_item": 11000, "status": "Lunas"},
    {"id": "T010", "pelanggan": "Wempy", "jumlah_item": 5, "harga_per_item": 30000, "status": "Batal"},
    {"id": "T011", "pelanggan": "Nara", "jumlah_item": 7, "harga_per_item": 17500, "status": "Belum Lunas"},
    {"id": "T012", "pelanggan": "Fia", "jumlah_item": 9, "harga_per_item": 20000, "status": "Lunas"},
    {"id": "T013", "pelanggan": "Radan", "jumlah_item": 3, "harga_per_item": 40000, "status": "Lunas"},
    {"id": "T014", "pelanggan": "Rahma", "jumlah_item": 10, "harga_per_item": 16000, "status": "Batal"},
    {"id": "T015", "pelanggan": "Yusuf", "jumlah_item": 4, "harga_per_item": 28000, "status": "Lunas"}
]

## Skenario 1: Filter Transaksi yang Lunas

In [9]:
# Pure function untuk mengecek status lunas
def is_lunas(transaksi):
    """Mengecek apakah transaksi berstatus Lunas"""
    return transaksi['status'] == 'Lunas'

# Pure function untuk filter transaksi lunas
def filter_lunas(data):
    """Filter transaksi dengan status 'Lunas' menggunakan filter"""
    return list(filter(is_lunas, data))

# Skenario 1: Filter transaksi lunas
transaksi_lunas = filter_lunas(transaksi)

# print("Transaksi yang lunas:")
# for t in transaksi_lunas:
#     print(t)
    
print(transaksi_lunas)

[{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}, {'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}, {'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}, {'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}, {'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}, {'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}, {'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}, {'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}, {'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}]

## Skenario 2: Tambahkan Total Belanja dengan Map

In [ ]:
# Pure function untuk menghitung total belanja satu transaksi
from typing import Any


def hitung_total(transaksi):
    """Menghitung total belanja dari satu transaksi"""
    return {**transaksi, 'total_belanja': transaksi['jumlah_item'] * transaksi['harga_per_item']}

# Pure function untuk menambahkan total belanja
def tambah_total_belanja(data):
    """Menambahkan field total_belanja menggunakan map"""
    return list[dict](map(hitung_total, data))

# Skenario 2: Tambahkan total belanja pada transaksi lunas
transaksi_lunas_dengan_total = tambah_total_belanja(transaksi_lunas)

for t in transaksi_lunas_dengan_total:
    print(t)

{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 100000}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas', 'total_belanja': 72000}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas', 'total_belanja': 132000}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas', 'total_belanja': 180000}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas', 'total_belanja': 120000}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas', 'total_belanja': 112000}

## Skenario 3: Hitung Total Pendapatan dengan Reduce

In [5]:
from functools import reduce

# Pure function untuk menjumlahkan total belanja
def jumlahkan_total(accumulator, transaksi):
    """Menjumlahkan total belanja dari transaksi ke accumulator"""
    return accumulator + transaksi['total_belanja']

# Pure function untuk menghitung total pendapatan
def hitung_total_pendapatan(data):
    """Menghitung total pendapatan dari field total_belanja menggunakan reduce"""
    return reduce(jumlahkan_total, data, 0)

# Skenario 3: Hitung total pendapatan
total_pendapatan = hitung_total_pendapatan(transaksi_lunas_dengan_total)

print(total_pendapatan)

1088000

## Skenario 4: Transaksi Tidak Dibatalkan dan Hitung Total Item (Rekursif)

In [6]:
# Pure function untuk filter transaksi tidak dibatalkan menggunakan list comprehension
def filter_tidak_dibatalkan(data):
    """Filter transaksi yang tidak dibatalkan (status != 'Batal')"""
    return [t for t in data if t['status'] != 'Batal']

# Pure function rekursif untuk menghitung total jumlah item
def hitung_total_item_rekursif(data, index=0):
    """Menghitung total jumlah_item secara rekursif"""
    # Base case: jika sudah mencapai akhir list
    if index >= len(data):
        return 0
    
    # Recursive case: tambahkan jumlah_item pada index saat ini dengan hasil rekursi selanjutnya
    return data[index]['jumlah_item'] + hitung_total_item_rekursif(data, index + 1)

# Skenario 4: Filter transaksi tidak dibatalkan
transaksi_tidak_dibatalkan = filter_tidak_dibatalkan(transaksi)

print("Transaksi yang tidak dibatalkan:")
for t in transaksi_tidak_dibatalkan:
    print(t)

print(f"\nTotal jumlah item dari transaksi tidak dibatalkan: {hitung_total_item_rekursif(transaksi_tidak_dibatalkan)}")

Transaksi yang tidak dibatalkan:
{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T002', 'pelanggan': 'Zaky', 'jumlah_item': 2, 'harga_per_item': 15000, 'status': 'Belum Lunas'}
{'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}
{'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T007', 'pelanggan': 'Hisyam', 'jumlah_item': 3, 'harga_per_item': 25000, 'status': 'Belum Lunas'}
{'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}
{'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}
{'id': 'T011', 'pelanggan': 'Nara', 'jumlah_item': 7, 'harga_per_item': 17500, 'status': 'Belum Lunas'}
{'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}
{'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}
{'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}

Total jumlah item dari transaksi tidak dibatalkan: 73

## Verifikasi: Data Asli Tidak Berubah

In [10]:
# Cek data transaksi asli (tidak boleh berubah)
print("Data transaksi asli (harus tetap sama):")
print(transaksi)

Data transaksi asli (harus tetap sama):
[{'id': 'T001', 'pelanggan': 'Faizal', 'jumlah_item': 5, 'harga_per_item': 20000, 'status': 'Lunas'}, {'id': 'T002', 'pelanggan': 'Zaky', 'jumlah_item': 2, 'harga_per_item': 15000, 'status': 'Belum Lunas'}, {'id': 'T003', 'pelanggan': 'Maylani', 'jumlah_item': 10, 'harga_per_item': 12000, 'status': 'Lunas'}, {'id': 'T004', 'pelanggan': 'Hakim', 'jumlah_item': 1, 'harga_per_item': 50000, 'status': 'Batal'}, {'id': 'T005', 'pelanggan': 'Adit', 'jumlah_item': 4, 'harga_per_item': 18000, 'status': 'Lunas'}, {'id': 'T006', 'pelanggan': 'Dimas', 'jumlah_item': 8, 'harga_per_item': 15000, 'status': 'Lunas'}, {'id': 'T007', 'pelanggan': 'Hisyam', 'jumlah_item': 3, 'harga_per_item': 25000, 'status': 'Belum Lunas'}, {'id': 'T008', 'pelanggan': 'Krisna', 'jumlah_item': 6, 'harga_per_item': 22000, 'status': 'Lunas'}, {'id': 'T009', 'pelanggan': 'Ahyad', 'jumlah_item': 12, 'harga_per_item': 11000, 'status': 'Lunas'}, {'id': 'T010', 'pelanggan': 'Wempy', 'jumlah_item': 5, 'harga_per_item': 30000, 'status': 'Batal'}, {'id': 'T011', 'pelanggan': 'Nara', 'jumlah_item': 7, 'harga_per_item': 17500, 'status': 'Belum Lunas'}, {'id': 'T012', 'pelanggan': 'Fia', 'jumlah_item': 9, 'harga_per_item': 20000, 'status': 'Lunas'}, {'id': 'T013', 'pelanggan': 'Radan', 'jumlah_item': 3, 'harga_per_item': 40000, 'status': 'Lunas'}, {'id': 'T014', 'pelanggan': 'Rahma', 'jumlah_item': 10, 'harga_per_item': 16000, 'status': 'Batal'}, {'id': 'T015', 'pelanggan': 'Yusuf', 'jumlah_item': 4, 'harga_per_item': 28000, 'status': 'Lunas'}]